<body>
    <header>
        <a href="" class="logo">
            <img src="https://img.freepik.com/vector-premium/logotipo-firma-inicial-cm-vector-plantilla-logotipo-escritura-mano_427177-361.jpg"  alt="nose" class="logo-img">
            <h2 class="logo-nom"> Cristian </h2>
        </a>
    <nav>
        <div class="container">
            <div class="row">
        <div class="col-lg-3"> <a href="" class="nav-link">Home</a></div>
        <div class="col-lg-3"> <a href="Formulario" class="nav-link">Formulario</a></div>
        <div class="col-lg-3"> <a href="Link2" class="nav-link"> Somos</a></div>
        <div class="col-lg-3"> <a href="Link3" class="nav-link">Contactos</a></div>
        </div>
            </div>
    </nav>
    </header>
    
</body>
